
	<header class="section-offset">
		<div class="container">
			<div class="header-upper flex">
				<a href="#" class="header-upper-logo">
					<img src="/assets/images/logo.svg" alt="logo" class="header-upper-logo">
				</a>
				<a href="tel:+74953225448" class="header-upper-number">
					+7 495 322-54-48
				</a>
				<a href="#" class="header-upper-link">
					Личный кабинет
				</a>
			</div>
			<div class="header-lower flex">
				<nav class="header-nav">
					<ul class="header-list list-reset flex">
						<li class="header-list-item">
							<a href="#about-us" class="header-link">
								О нас
							</a>
						</li>
						<li class="header-list-item">
							<a href="#services" class="header-link">
								Услуги
							</a>
						</li>
						<li class="header-list-item">
							<a href="#advantages" class="header-link">
								Преимущества
							</a>
						</li>
						<li class="header-list-item">
							<a href="#accommodation" class="header-link">
								Размещение
							</a>
						</li>
						<li class="header-list-item">
							<a href="#blog" class="header-link">
								Блог
							</a>
						</li>
						<li class="header-list-item">
							<a href="#contacts" class="header-link">
								Контакты
							</a>
						</li>
					</ul>
				</nav>
				<button class="header-button button-one btn-reset">
					Хочу тур
				</button>
				<button class="header-button button-two btn-reset">
					Обратный звонок
				</button>
			</div>
		</div>
	</header>

	<main class="main">
		<section class="special-offers section-offset">
			<div class="container">
				<h2 class="section-title special-offers-title">
					Спецпредложения
				</h2>
				<div class="special-offers-item-same flex">
					<div class="special-offers-item special-offers-item-maldivs-img">
							<h3 class="special-offers-item-title">
								Мальдивские острова
							</h3>
							<p class="special-offers-item-price">
								от&nbsp;55&nbsp;000&nbsp;₽
							</p>
							<a href="#" class="special-offers-item-more">
								Подробнее
							</a>
					</div>
					<div class="special-offers-item special-offers-item-krit-img">
							<h3 class="special-offers-item-title">
								Горящий тур на&nbsp;остров Крит
							</h3>
							<p class="special-offers-item-price">
								от&nbsp;30&nbsp;000&nbsp;₽
							</p>
							<a href="#" class="special-offers-item-more">
								Подробнее
							</a>
					</div>
				</div>
				<div class="special-offers-item special-offers-item-lyx-img">
					<h3 class="special-offers-item-title">
						Номера категории люкс
					</h3>
					<p class="special-offers-item-price">
						от&nbsp;5&nbsp;000&nbsp;₽
					</p>
					<a href="#" class="special-offers-item-more">
						Подробнее
					</a>
				</div>
			</div>
		</section>

		<section class="about-us section-offset" id="about-us">
			<div class="container">
				<h2 class="section-title about-us-title">
					О нас
				</h2>
				<p class="about-us-text">
					Идейные соображения высшего порядка, а&nbsp;также сложившаяся структура организации влечёт за&nbsp;собой
					процесс внедрения и&nbsp;модернизации системы обучения кадров, соответствует насущным потребностям. Идейные
					соображения высшего порядка, а&nbsp;также дальнейшее развитие различных форм деятельности представляет собой
					интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Равным образом
					сложившаяся структура организации требуют определения и&nbsp;уточнения существенных финансовых
					и&nbsp;административных условий.
				</p>
			</div>
		</section>

		<section class="services section-offset" id="services">
			<div class="container">
				<h2 class="section-title services-title">
					Услуги
				</h2>
				<ul class="services-list list-reset flex">
					<li class="services-item">
						<h4 class="services-item-title">
							<a href="#" class="services-item-title-link">
								Эксклюзивное обслуживание
							</a>
						</h4>
						<p class="services-item-desc">
							Равным образом постоянный количественный рост и&nbsp;сфера нашей активности
						</p>
					</li>
					<li class="services-item">
						<h4 class="services-item-title">
							<a href="#" class="services-item-title-link">
								Аренда банкетных залов
							</a>
						</h4>
						<p class="services-item-desc">
							Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм
						</p>
					</li>
					<li class="services-item">
						<h4 class="services-item-title">
							<a href="#" class="services-item-title-link">
								Сауны, бассейны, бани, фитнес-залы
							</a>
						</h4>
						<p class="services-item-desc">
							Не&nbsp;следует, однако забывать, что начало повседневной работы по&nbsp;формированию позиции
						</p>
					</li>
					<li class="services-item">
						<h4 class="services-item-title">
							<a href="#" class="services-item-title-link">
								Охраняемые автомобильные стоянки
							</a>
						</h4>
						<p class="services-item-desc">
							Не&nbsp;следует, однако забывать, что начало повседневной работы по&nbsp;формированию позиции
						</p>
					</li>
				</ul>
			</div>
		</section>

		<section id="advantages" class="advantages section-offset">
			<div class="container">
				<h2 class="section-title advantages-title">
					Преимущества
				</h2>
				<ul class="advantages-list list-reset flex">
					<li class="advantages-item">
						<p class="advantages-text">
							Идейные соображения высшего порядка,
							а&nbsp;также постоянный количественный рост
						</p>
					</li>
					<li class="advantages-item">
						<p class="advantages-text">
							Значимость этих проблем настолько очевидна, что вопрос остаётся открытым
						</p>
					</li>
					<li class="advantages-item">
						<p class="advantages-text">
							Таким образом реализация плановых заданий играет важную роль для понимания
						</p>
					</li>
					<li class="advantages-item">
						<p class="advantages-text">
							Повседневная практика показывает, что сложившаяся структура организации
						</p>
					</li>
					<li class="advantages-item">
						<p class="advantages-text">
							Равным образом рамки и&nbsp;место обучения кадров способствует подготовки сотрудника
						</p>
					</li>
					<li class="advantages-item">
						<p class="advantages-text">
							Консультация с&nbsp;активом влечёт за&nbsp;собой процесс внедрения услуг нашего сервиса
						</p>
					</li>
					<li class="advantages-item">
						<p class="advantages-text">
							Повседневная практика показывает, что дальнейшее развитие различных
						</p>
					</li>
					<li class="advantages-item">
						<p class="advantages-text">
							Значимость этого настолько очевидна, что консультация наших экспертов помогает
						</p>
					</li>
				</ul>
			</div>
		</section>

		<section id="accommodation" class="accommodation section-offset">
			<div class="container">
				<h2 class="section-title accommodation-title">
					Размещение
				</h2>
				<ul class="accommodation-list list-reset flex">
					<li class="accommodation-item">
						<img src="/assets/images/acc1.jpg" alt="hotel presentation" class="accommodation-item-images">
						<div class="accomodation-item-desc flex">
							<p class="accommodation-item-price">
								<span class="accommodation-item-desc-prefix">
									от
								</span>
								<strong>
									4&nbsp;698&nbsp;₽
								</strong>
								/ ночь
							</p>
							<img src="/assets/images/star.svg" alt="Рейтинг фильма 4 из 5" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star-empty.svg" alt="" class="accommodation-item-star">
							<div class="accommodation-item-country">
								<p class="country">
									Lagoona espa&ntilde;ola
								</p>
								<p class="country">
									Барселона, Испания
								</p>
								<button class="accommodation-item-button btn-reset">
									Номера
								</button>
							</div>
						</div>
					</li>
					<li class="accommodation-item">
						<img src="/assets/images/acc2.jpg" alt="hotel presentation" class="accommodation-item-images">
						<div class="accomodation-item-desc flex">
							<p class="accommodation-item-price">
								<span class="accommodation-item-desc-prefix">
									от
								</span>
								<strong>
									5&nbsp;148&nbsp;₽
								</strong>
								/ ночь
							</p>

							<img src="/assets/images/star.svg" alt="Рейтинг фильма 4 из 5" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star-empty.svg" alt="" class="accommodation-item-star">
							<div class="accommodation-item-country">
								<p class="country">
									Lagoona son t&iacute;picas
								</p>
								<p class="country">
									Барселона, Испания
								</p>
								<button class="accommodation-item-button btn-reset">
									Номера
								</button>
							</div>
						</div>
					</li>
					<li class="accommodation-item">
						<img src="/assets/images/acc3.jpg" alt="hotel presentation" class="accommodation-item-images">
						<div class="accomodation-item-desc flex">
							<p class="accommodation-item-price">
								<span class="accommodation-item-desc-prefix">
									от
								</span>
								<strong>
									6&nbsp;254&nbsp;₽
								</strong>
								/ ночь
							</p>

							<img src="/assets/images/star.svg" alt="Рейтинг фильма 4 из 5" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<div class="accommodation-item-country">
								<p class="country">
									Lagoona de&nbsp;la&nbsp;guerra
								</p>
								<p class="country">
									Барселона, Испания
								</p>
								<button class="accommodation-item-button btn-reset">
									Номера
								</button>
							</div>
						</div>
					</li>
					<li class="accommodation-item">
						<img src="/assets/images/acc4.jpg" alt="hotel presentation" class="accommodation-item-images">
						<div class="accomodation-item-desc flex">
							<p class="accommodation-item-price">
								<span class="accommodation-item-desc-prefix">
									от
								</span>
								<strong>
									6&nbsp;320&nbsp;₽
								</strong>
								/ ночь
							</p>

							<img src="/assets/images/star.svg" alt="Рейтинг фильма 4 из 5" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<div class="accommodation-item-country">
								<p class="country">
									Lagoona mentira piadosa
								</p>
								<p class="country">
									Барселона, Испания
								</p>
								<button class="accommodation-item-button btn-reset">
									Номера
								</button>
							</div>
						</div>
					</li>
					<li class="accommodation-item">
						<img src="/assets/images/acc5.jpg" alt="hotel presentation" class="accommodation-item-images">
						<div class="accomodation-item-desc flex">
							<p class="accommodation-item-price">
								<span class="accommodation-item-desc-prefix">
									от
								</span>
								<strong>
									6&nbsp;457&nbsp;₽
								</strong>
								/ ночь
							</p>

							<img src="/assets/images/star.svg" alt="Рейтинг фильма 4 из 5" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star-empty.svg" alt="" class="accommodation-item-star">
							<div class="accommodation-item-country">
								<p class="country">
									Lagoona empujar la&nbsp;creatividad
								</p>
								<p class="country">
									Барселона, Испания
								</p>
								<button class="accommodation-item-button btn-reset">
									Номера
								</button>
							</div>
						</div>
					</li>
					<li class="accommodation-item">
						<img src="/assets/images/acc6.jpg" alt="hotel presentation" class="accommodation-item-images">
						<div class="accomodation-item-desc flex">
							<p class="accommodation-item-price">
								<span class="accommodation-item-desc-prefix">
									от
								</span>
								<strong>
									6 320 ₽
								</strong>
								/ ночь
							</p>
							<img src="/assets/images/star.svg" alt="Рейтинг фильма 4 из 5" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star-empty.svg" alt="" class="accommodation-item-star">
							<div class="accommodation-item-country">
								<p class="country">
									Lagoona el&nbsp;retorno
								</p>
								<p class="country">
									Барселона, Испания
								</p>
								<button class="accommodation-item-button btn-reset">
									Номера
								</button>
							</div>
						</div>
					</li>
					<li class="accommodation-item">
						<img src="/assets/images/acc7.jpg" alt="hotel presentation" class="accommodation-item-images">
						<div class="accomodation-item-desc flex">
							<p class="accommodation-item-price">
								<span class="accommodation-item-desc-prefix">
									от
								</span>
								<strong>
									6&nbsp;505&nbsp;₽
								</strong>
								/ ночь
							</p>

							<img src="/assets/images/star.svg" alt="Рейтинг фильма 4 из 5" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<div class="accommodation-item-country">
								<p class="country">
									Lagoona mentira piadosa
								</p>
								<p class="country">
									Барселона, Испания
								</p>
								<button class="accommodation-item-button btn-reset">
									Номера
								</button>
							</div>
						</div>
					</li>
					<li class="accommodation-item">
						<img src="/assets/images/acc8.jpg" alt="hotel presentation" class="accommodation-item-images">
						<div class="accomodation-item-desc flex">
							<p class="accommodation-item-price">
								<span class="accommodation-item-desc-prefix">
									от
								</span>
								<strong>
									6&nbsp;824&nbsp;₽
								</strong>
								/ ночь
							</p>

							<img src="/assets/images/star.svg" alt="Рейтинг фильма 4 из 5" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star.svg" alt="" class="accommodation-item-star">
							<img src="/assets/images/star-empty.svg" alt="" class="accommodation-item-star">
							<div class="accommodation-item-country">
								<p class="country">
									Lagoona suerte sigui&oacute; siempre
								</p>
								<p class="country">
									Барселона, Испания
								</p>
								<button class="accommodation-item-button btn-reset">
									Номера
								</button>
							</div>
						</div>
					</li>
					<li class="accommodation-item flex">
						<img src=" /assets/images/acc9.jpg" alt="picture" class="accommodation-item-images-all-variants">
						<a href="#" class="accommodation-item-link">
							Посмотреть все варианты
						</a>
					</li>
				</ul>
			</div>
		</section>
	</main>

	<footer class="footer">

	</footer>
